[Desktop Entry]
Name=Kwal
Comment=Kwal — simple wallpaper manager (Kirigami)
Exec=kwal
Icon=kwal
Type=Application
Categories=Utility;Graphics;
Terminal=false
X-KDE-Keywords=wallpaper;background;image
StartupWMClass=python3